*.lo
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/GeocodeGlib-1.0.gir
/GeocodeGlib-1.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/geocode-enum-types.c
/geocode-enum-types.h
/libgeocode-glib.la
/so_locations
/tags
/test-gcglib
_libs
