/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/geocode-glib-decl-list.txt
/geocode-glib-decl.txt
/geocode-glib-undeclared.txt
/geocode-glib-undocumented.txt
/geocode-glib-unused.txt
/geocode-glib.args
/geocode-glib.hierarchy
/geocode-glib.interfaces
/geocode-glib.prerequisites
/geocode-glib.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/geocode-glib-unused.sgml
/version.xml
/xml
